@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }

  .btn {
    @apply px-5 py-2 my-5 border border-transparent rounded-3xl bg-blue hover:bg-transparent hover:border hover:text-blue hover:border-blue;
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 bg-gray-300 rounded-full backdrop-blur;
  }

  .size-btn-container {
    @apply flex items-center justify-center gap-1 p-1 ml-3 bg-gray-300 rounded-full backdrop-blur;
  }

  .size-btn {
    @apply flex items-center justify-center w-10 h-10 text-sm text-black transition-all bg-white rounded-full;
  }

  .common-padding {
    @apply px-5 py-20 sm:py-32 sm:px-10;
  }

  .section-heading {
    @apply mb-5 text-3xl font-medium translate-y-20 opacity-0 text-gray lg:text-6xl md:text-5xl lg:mb-0;
  }

  .feature-text {
    @apply text-gray max-w-md text-lg md:text-xl font-semibold opacity-0 translate-y-[100px];
  }

  .feature-text-container {
    @apply flex-col w-full gap-5 mt-10 flex-center md:flex-row md:mt-16;
  }

  .feature-video {
    @apply object-cover object-center w-full h-full scale-150 opacity-0;
  }

  .feature-video-container {
    @apply flex flex-col items-center w-full gap-5 md:flex-row;
  }

  .link {
    @apply flex items-center text-xl translate-y-20 opacity-0 cursor-pointer text-blue hover:underline;
  }

  .control-btn {
    @apply p-4 ml-4 bg-gray-300 rounded-full backdrop-blur flex-center;
  }

  .hero-title {
    @apply text-3xl font-semibold text-center text-gray-100 opacity-0 max-md:mb-10;
  }

  .hiw-title {
    @apply text-4xl font-semibold text-center md:text-7xl;
  }

  .hiw-subtitle {
    @apply py-10 text-xl font-semibold text-center text-gray md:text-2xl;
  }

  .hiw-video {
    @apply absolute w-[95%] h-[90%] rounded-[56px] overflow-hidden;
  }

  .hiw-text-container {
    @apply flex flex-col items-start justify-between gap-24 md:flex-row;
  }

  .hiw-text {
    @apply text-xl font-normal text-gray md:font-semibold;
  }

  .hiw-bigtext {
    @apply my-2 text-3xl font-normal text-white md:text-5xl md:font-semibold;
  }

  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }

  .g_fadeIn {
    @apply opacity-0 translate-y-[100px];
  }
}

.loader {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: #94928d;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: #afafaf;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
    0 0 0 0.5em #42424570;
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
